<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="form-horizontal" name="customerNewForm">
                <div class="form-group">
                    <label for="newCustomerName">Name</label>
                    <input type="text" class="form-control validate" name="newCustomerName" id="newCustomerName" placeholder="Name" ng-model="customer.name" required minlength="3" maxlength="100">
                    <div ng-messages="customerNewForm.customerName.$error">
                        <div ng-message="required">You must supply a company name.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newCustomerAddress1">Address Line 1</label>
                    <input type="text" class="form-control validate" name="newCustomerAddress1" id="newCustomerAddress1" placeholder="Address" ng-model="customer.address1" required minlength="3" maxlength="100">
                    <div ng-messages="customerNewForm.customerAddress1.$error">
                        <div ng-message="required">You must supply a first line address.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newCustomerAddress2">Address Line 2</label>
                    <input type="text" class="form-control validate" name="newCustomerAddress2" id="newCustomerAddress2" placeholder="Address" ng-model="customer.address2">
                </div>
                <div class="form-group">
                    <label for="newCustomerTown">Town</label>
                    <input type="text" class="form-control validate" name="newCustomerTown" id="newCustomerTown" placeholder="Town" ng-model="customer.town">
                </div>
                <div class="form-group">
                    <label for="newCustomerCounty">County</label>
                    <input type="text" class="form-control validate" name="newCustomerCounty" id="newCustomerCounty" placeholder="County" ng-model="customer.county">
                </div>
                <div class="form-group">
                    <label for="newCustomerPostcode">Postcode</label>
                    <input type="text" class="form-control validate" name="newCustomerPostcode" id="newCustomerPostcode" placeholder="Postcode" ng-model="customer.postcode"  required minlength="5" maxlength="8">
                    <div ng-messages="customerNewForm.customerPostcode.$error">
                        <div ng-message="required">You must supply a postcode.</div>
                        <div ng-message="pattern">Invalid postcode.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newCustomerTelephone">Telephone</label>
                    <input type="text" class="form-control validate" name="newCustomerTelephone" id="newCustomerTelephone" placeholder="Telephone" ng-model="customer.telephone"  required minlength="7" maxlength="15">
                    <div ng-messages="customerNewForm.customerTelephone.$error">
                        <div ng-message="required">You must supply a telephone number.</div>
                        <div ng-message="pattern">Invalid telephone number.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newCustomerEmail">Email</label>
                    <input type="text" class="form-control validate" name="newCustomerEmail" id="newCustomerEmail" placeholder="Email" ng-model="customer.email"  required minlength="7" maxlength="15" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="customerNewForm.customerEmail.$error">
                        <div ng-message="pattern">Invalid email address.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newCustomerUrl">Url</label>
                    <input type="text" class="form-control validate" name="newCustomerUrl" id="newCustomerUrl" placeholder="URL" ng-model="customer.url"  required minlength="7" maxlength="255">
                    <div ng-messages="customerNewForm.customerUrl.$error">
                        <div ng-message="url">Invalid url.</div>
                    </div>
                </div>
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                        Business Classification <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-model="customer.category">
                        <li role="menuitem" ng-repeat="category in categories"><a>{{ category.name }}</a></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="newCustomerNotes">Notes</label>
                    <textarea type="text" class="form-control validate" name="newCustomerNotes" id="newCustomerNotes" placeholder="Notes" ng-model="customer.notes" maxlength="1024">
                    <div ng-messages="customerNewForm.customerNotes.$error">
                        <div ng-message="url">Invalid Notes.</div>
                    </div>
                </div>
                <button ng-click="submitCustomerNew()" ng-if="!customerInvalid" class="btn btn-primary">Save Customer</button>
                <button ng-click="submitCustomerNew()" ng-if="customerInvalid" ng-disabled="true">Save Customer</button>
            </form>
        </div>
    </div>
</div>
